// The layout to launch facade and 2 transactors in Zellij

layout {
  pane {
    name "Facade"
    focus true
    cwd "../"
    command "just"
    args "dev-facade" "-g" "../race-holdem/cash/facade.json"
    start_suspended true
  }
  pane split_direction="vertical" {
    pane {
      name "Transactor 1"
      command "just"
      cwd "../"
      args "dev-transactor" "dev/server-confs/server1.toml"
      start_suspended true
    }
    pane {
      name "Transactor 2"
      command "just"
      cwd "../"
      args "dev-transactor" "dev/server-confs/server2.toml"
      start_suspended true
    }
  }
}
